@model OrderLaptop.Models.DeviceViewModel.SiteIndexData
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Sites";
}
<h2>Sites</h2>
<p>
    <a asp-action="Create">Add New Site</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Site Name</th>
            <th>URL</th>
            <th>Laptops</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Sites)
        {
            string selectedRow = "";
            if (item.SiteID == (int?)ViewData["SiteID"])
            {
                selectedRow = "success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>

            <td>
                @{
                    foreach (var laptop in item.LaptopSites)
                    {
                        @laptop.laptop.LaptopID @: @laptop.laptop.Name<br />
                    }
                }
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td>
                    <a asp-action="Index" asp-route-id="@item.SiteID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.SiteID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SiteID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SiteID">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Index" asp-route-id="@item.SiteID">Select</a> |
                    <a asp-action="Details" asp-route-id="@item.SiteID">Details</a> 
                </td>

            }
        </tr>
        }
    </tbody>
</table>

@if (Model.Laptops != null)
{
    <h3>Laptops Site by Selected Site</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Laptops)
        {
            string selectedRow = "";
            if (item.LaptopID == (int?)ViewData["LaptopID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { laptopID = item.LaptopID })
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}

@if (Model.Orders != null)
{
    <h3>
        Customers that have ordered the Selected Laptop
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Order Date</th>
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
            </tr>
        }
    </table>
}